// Fonts
$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

// Mixins
@mixin type-1($size) {
  font-family: $font-1;
  @if $size == 18 {
    font-size: 1.125rem;
    line-height: 1.3;
  }
}

@mixin type-2($size) {
  font-family: $font-2;
  @if $size == 18 {
    font-size: 1.125rem;
    line-height: 1.3;
  } @else if $size == 24 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
